@model SongBook.Models.ShowDetail

@{
    ViewBag.Title = "Details";
}

<h2>Show Information</h2>

<div>
    
    <hr />
    
</div>

<div class="container-phish">
    <div class="col-lg-6 col-md-4"></div>
</div>


<div class="container-details">
    <div class="col-lg-6 col-md-4 col-sm-1">
    
        <h1>
            @Html.DisplayNameFor(model => model.BandId)
            @Html.DisplayFor(model => model.BandId)
        </h1>
        <h1> 
            @Html.DisplayFor(model => model.Venue)
        </h1>
        <h1>
            @Html.DisplayFor(model => model.Location)
        </h1>
        <h1>
            @Html.DisplayFor(model => model.Date)
        </h1>

    </div>
</div>
<hr />
<div class="container-details">
    <div class="col-lg-6 col-md-4 col-sm-1">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ShowId }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ShowId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
<div class="container-phish">
    <div class="col-lg-6 col-md-4"></div>



</div>
