@model IEnumerable<SongBook.Models.ShowListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Song Archive</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
  <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BandId)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Band", new {id = item.BandId})">
            @Html.DisplayFor(modelItem => item.BandId)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "Show", new {id = item.ShowId})">
                @Html.DisplayFor(modelItem => item.Date)</a>
        </td>
        <td>
           
           
        </td>
    </tr>
}

</table>
   
