@model SongBook.Models.SongDetail

@{
    ViewBag.Title = "Details";
}

<h2>Song Information</h2>

<div>
    
    <hr />

</div>
<div class="container-phish">
    <div class="col-lg-6 col-md-4"></div>
</div>


<div class="container-details">
    <div class="col-lg-6 col-md-4 col-sm-1">
        <h1>
            @Html.DisplayNameFor(model => model.ShowId)
            
            @Html.DisplayFor(model => model.ShowId)
        </h1>
        <h1>
            @Html.DisplayNameFor(model => model.BandID)
            @Html.DisplayFor(model => model.BandID)
        </h1>
        <h1>
            @Html.DisplayFor(model => model.Name)
        </h1>
        <h1>
            @Html.DisplayFor(model => model.Length)
        </h1>

    </div>
</div>
<hr />
<div class="container-details">
    <div class="col-lg-6 col-md-4 col-sm-1">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
    </div>
<div class="container-phish">
    <div class="col-lg-6 col-md-4"></div>
        
       
    
</div>

