@model IEnumerable<SongBook.Models.SongListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Song Archive</h2>

<p>
    @Html.ActionLink("Add a Song", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.BandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            <a href="@Url.Action("Details", "Band", new { id = item.BandID } )">
            @Html.DisplayFor(modelItem => item.BandID)
        </td>
        <td>
            <a href="@Url.Action("Details", "Show", new { id = item.ShowId } )">
                @Html.DisplayFor(modelItem => item.ShowId)</a>
        </td>
        <td>
            <a href="@Url.Action("Details", "Song", new { id = item.SongId } )">
                @Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
         
            @Html.ActionLink("Delete", "Delete", new {  id=item.SongId})
        </td>

      
    </tr>
}

</table>
